<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand fw-bolder" href="#">BAITULMAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/katam">Kalender Tanam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hasil">Hasil Prediksi</a>
        </li>
          <li class="nav-item hide-item">
            <a class="nav-link active" aria-current="page" href="/data">Pengelolaan Data</a>
          </li> -->
      </ul>
      <ul class="navbar-nav ms-auto">
          <li>
          <a class="nav-link active" aria-current="page" href="/auth/login">Register</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
