<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col-md-5 mt-5">
      <h2 class="font-weight-bold text-uppercase text-center" style="color: #12960d; font-size: 80px ;margin-bottom: 10px;">baitulmal</h2>
      <h2 class="font-weight-bold text-uppercase text-center" style="color: #12960d; font-size: 60px ;margin-bottom: 10px;">aceh besar</h2>
      <p class=" font-weight-bold text-center"  style="color: #0c310b; font-size: 20px ;margin-bottom: 10px;">Informasi pembagian zakat untuk masyarakat Aceh Besar</p>
    </div>
      <div class="col-md-6"  id="data" data='<%= JSON.stringify(data) %>'>
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Penyaluran Zakat</h3>
              </div>
              <div class="card-body">
                
                  <div class="chart">
                    <canvas id="penyaluranZakat" style="min-height: 300px; height: 300px; max-height: 100%; max-width: 100%;"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
      <div class="col-md-12"  id="data" data='<%= JSON.stringify(data) %>'>
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Pemerataan pembagian zakat setiap golongan</h3>
              </div>
              <div class="card-body">
                
                  <div class="chart">
                    <canvas id="golonganZakat" style="min-height: 450px; height: 450px; max-height: 100%; max-width: 100%;"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>




 <script>
    document.addEventListener('DOMContentLoaded', function () {
    const dataElement = document.getElementById('data');
    const dataFromServer = JSON.parse(dataElement.getAttribute('data'));

    const ctx = document.getElementById('penyaluranZakat').getContext('2d');
    
      new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ['Sudah','Menunggu'],
            datasets: [{
            label: 'Total',
            data: dataFromServer.totPenyaluran,
            backgroundColor: [
              "rgb(173,216,230)",
              "rgb(255, 99, 132)",
              ],
            hoverOffset: 4
              }]
          },
          options: {
              layout: {}
          }
      });
  });
  </script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  const dataElement = document.getElementById('data');
  const dataFromServer = JSON.parse(dataElement.getAttribute('data'));

  const ctx = document.getElementById('golonganZakat').getContext('2d');
  
    new Chart(ctx, {
        data: data = {
        labels: [
          'Fakir',
          'Miskin',
          'Miskin Insidentil',
          'Guru Dayah',
          'Santri Dayah',
          'Santri Dayah Luar',
          'Anak Yatim',
          'Disabilitas',
          'Pelajar Miskin',
          'Santri Muallaf',
          'Muallaf',
          'Gharimin',
          'Santri Berprestasi',
          'Madrasah',
          'Waqaf',
          'Pelajar Rantau',
          'Ibnu Sabil',
        ],
        datasets: [{
          type: 'bar',
          label: 'Total data',
          data: dataFromServer.totGolongan,
          borderColor: 'rgb(255, 99, 132)',
          backgroundColor: 'rgba(255, 99, 132, 1)'
        }, {
          type: 'bar',
          label: 'Sudah menerima',
          data: dataFromServer.totPembagianGol,
          fill: false,
          borderColor: 'rgb(54, 162, 235)',
          backgroundColor: 'rgba(54, 162, 235, 0.5)'
        }]
      },
        options: {
          scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 1,
                    }
                  }
        }
    });
});
</script>

