<body id="page-top">

    <style>
        body {
            background-color: #f8f9fa; /* Warna latar belakang */
            color: #343a40; /* Warna teks */
            margin: 0;
        }

        header.masthead {
            min-height: 100vh; /* Gunakan tinggi 100% untuk full layar */
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/images/background/'); /* Ganti dengan URL gambar latar belakang Anda */
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            color: #fff; /* Warna teks header */
        }

        header.masthead h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        header.masthead h3 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #007bff; /* Warna tombol */
            border-color: #007bff;
        }

        footer.footer {
            background-color: #343a40; /* Warna latar belakang footer */
            color: #fff; /* Warna teks footer */
            padding: 50px 0;
        }

        .social-link {
            font-size: 2rem;
        }

        p.text-muted {
            margin-top: 20px;
        }
    </style>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">Baitul Mal Aceh Besar</h1>
            <h3 class="mb-5"><em>Informasi pembagian zakat untuk masyarakat Aceh Besar</em></h3>
            <a class="btn btn-secondary btn-xl" href="/dashboard">Lanjutkan</a>
        </div>
    </header>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
           
            <p class="text-muted small mb-0">Copyright &copy; Asyi 2023</p>
        </div>
    </footer>
</body>